@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --aecom-earth-green: #008768;
  --aecom-lime-green: #aecc53;
  --aecom-midnight-teal: #00353e;
  --aecom-black: #000000;
  --aecom-white: #ffffff;
  --aecom-coral-orange: #e52713;
  --aecom-ocean-teal: #009a9b;
  --aecom-sunrise-yellow: #ffce00;
  --aecom-fuchsia-pink: #c70c6f;
  --aecom-stone-gray: #dad8cc;
  --font-extra-small: 10px;
  --font-small: 14px;
  --font-regular: 18px;
  --font-large: 22px;
  --font-extra-large: 26px;
  --separator: 25px;
  --border-radius: 6px;

  --bim-ui_gray-0: hsl(210 10% 5%);
  --bim-ui_gray-1: hsl(210 10% 10%);
  --bim-ui_gray-2: hsl(210 10% 20%);
  --bim-ui_gray-4: hsl(210 10% 40%);
  --bim-ui_gray-6: hsl(210 10% 60%);
  --bim-ui_gray-8: hsl(210 10% 85%);
  --bim-ui_gray-9: hsl(210 10% 90%);
  --bim-ui_gray-10: hsl(210 10% 95%);

  --bim-ui_gray-0: var(--aecom-midnight-teal);
  --bim-ui_main-base: var(--aecom-lime-green);
  --bim-ui_accent-base: var(--aecom-coral-orange);
  --bim-ui_main-contrast: var(--aecom-black);
  --bim-ui_accent-contrast: var(--aecom-midnight-teal);
}

* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  font-size: var(--font-base);
}

body{
  background-color: var(--aecom-midnight-teal);
}

#project-page{
  margin: 0;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#body-page{
  height: 100%;
}

#project-content{
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template: 
    "data ribbon" auto
    "panel viewport" 1fr / 25rem 1fr;
  background-color: var(--aecom-earth-green);
}

#data {
  grid-area: data;
  background-color: var(--aecom-earth-green);
  color: var(--aecom-white);
  padding: 15px;
}

#data p{
  margin:0;
}

#ribbon {
  grid-area: ribbon;
  background-color: var(--aecom-earth-green);
  overflow: visible;
}

#panel {
  grid-area: panel;
  overflow-y: auto;
  background-color: var(--bim-ui_gray-0);
  margin: 0 5px 5px 5px;
  border-radius: 6px;
}

#panel::-webkit-scrollbar {
  width: 6px;
}

#panel::-webkit-scrollbar-track {
  background: var(--aecom-black);
}

#panel::-webkit-scrollbar-thumb {
  background: var(--aecom-lime-green);
  border-radius: 6px;
}

#panel::-webkit-scrollbar-thumb:hover {
  background: var(--aecom-coral-orange);
}

#viewer {
  grid-area: viewport;
  background-color: var(--aecom-stone-gray);
  border-radius: 6px 0 0 0;
}

bim-toolbar{
  border-radius: 6px!important;
}